{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="row">
        <div class="offset-md-2 col-12 my-3">
            {% block message %}{% endblock %}
        </div>
        {% block back_button %}
        {% if request.META.HTTP_REFERER %}
        <div class="offset-sm-6 offset-md-7 col-lg-2 col-md-3">
            <a class="btn btn-block btn-primary" href="{{ request.META.HTTP_REFERER }}">{% blocktrans %}Back{% endblocktrans %}</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>

{% endblock %}

