{% extends 'registration/base_centered.html' %}

{% load i18n %}

{% block title %}{% blocktrans %}Sign in{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block centered_content %}

    <h5 class="card-title text-center">{% blocktrans %}Sign in{% endblocktrans %}</h5>
    <form action="{% url 'login' %}" method="POST">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block">{% blocktrans %}Sign in{% endblocktrans %}</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>
    <a href="{% url 'password_reset' %}">{% blocktrans %}Forgot your password?{% endblocktrans %}</a>
    <hr>
    <p class="card-text">{% blocktrans %}For the first time, click the following link{% endblocktrans %}</p>
    <a class="btn btn-outline-secondary btn-block" href="{% url 'repos:usage' %}"><i class="fas fa-question"></i> {% blocktrans %}Usage{% endblocktrans %}</a>
    <a class="btn btn-outline-primary btn-block" href="{% url 'accounts:signup' %}">{% blocktrans %}Sign up{% endblocktrans %}</a>

{% endblock %}
