{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}change password{% endblocktrans %} - {{ block.super }}{% endblock %}

{% load bootstrap4 %}

{% block content %}
<form action="" method="POST">
    {% bootstrap_form form layout='horizontal' alert_error_type='all' %}
    <div class="form-group row">
        <div class="offset-sm-10 col-sm-2">
            <button type="submit" class="btn btn-primary">{% blocktrans %}Update{% endblocktrans %}</button>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endblock %}
