{% extends 'registration/base_centered.html' %}

{% load i18n %}

{% block title %}{% blocktrans %}User registration{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block centered_content %}
    <h5 class="card-title text-center">{% blocktrans %}User registration{% endblocktrans %}</h5>
    <form id="registration_form" action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form alert_error_type='all' %}
        <button type="submit" class="btn btn-primary btn-block">{% blocktrans %}Register{% endblocktrans %}</button>
    </form>

{% endblock %}

{% block extra_js %}
<script>
$(function() {
    $('#registration_form select[name="language_code"]').on('change', function() {
        $('#set_language_form input[name="language"]').val($(this).val());
        $('#set_language_form').submit();
    });
});
</script>
{% endblock %}
