{% load i18n %}<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
{% bootstrap_css %}{% block load_css %}{% endblock %}
{% bootstrap_javascript jquery='full' %}{% block load_js %}{% endblock %}
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block extra_css %}{% endblock %}
<title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">{{ site_title }}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Navigation View">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
        {% if user.is_authenticated %}
        <span class="navbar-text my-lg-0 ml-auto">
            <span class="navbar-text my-2 my-sm-0 mr-2">{{ user }}</span>
        </span>
        <span class="navbar-text my-2 my-lg-0 ml-2">
            <a class="btn btn-outline-secondary my-2 my-sm-0 mr-2" href="{% url 'repos:usage' %}"><i class="fas fa-question"></i> {% blocktrans %}Usage{% endblocktrans %}</a>
            <a class="btn btn-outline-info my-2 my-sm-0 mr-2" href="{% url 'accounts:profile' %}">{% blocktrans %}User settings{% endblocktrans %}</a>
            <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">{% blocktrans %}Sign out{% endblocktrans %}</a>
        </span>
        {% else %}
        <span class="navbar-text my-2 my-lg-0 ml-auto">
            <a class="btn btn-outline-secondary my-2 my-sm-0 mr-2" href="{% url 'repos:usage' %}"><i class="fas fa-question"></i> {% blocktrans %}Usage{% endblocktrans %}</a>
            <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="{% url 'login' %}">{% blocktrans %}Sign in{% endblocktrans %}</a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'accounts:signup' %}">{% blocktrans %}Sign up{% endblocktrans %}</a>
        </span>
        {% endif %}
    </div>
</nav>
<div class="container mt-3">
{% block content %}{% endblock %}
</div>
<form id="set_language_form" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="language" hidden>
</form>
{% block extra_js %}{% endblock %}
</body>
</html>
