{% extends 'base.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% block content %}
{% include 'repos/delete_form.html' %}
{% include 'repos/edit_form.html' %}
{% include 'repos/history_form.html' %}

{% bootstrap_messages %}

<!-- Repository list table -->
<table id="main_table" class="table">
    <thead class="thead-light"><tr>
        <th scope="col">{% blocktrans %}Repositories{% endblocktrans %}</th>
        <th scope="col">{% blocktrans %}Last Update{% endblocktrans %}</th>
        <th></th>
        <th></th>
        <th></th>
    </tr></thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">
                <a target="_" href="{{ item.repository_tag.get_url }}">
                    {{ item.repository_tag }} <i class="small text-primary fas fa-external-link-alt"></i>
                </a>
            </td>
            <td data-sort="{{ item.repository_tag.last_updated|date:'YmdHis' }}">{{ item.repository_tag.last_updated }}</td>
            <td>
                <button class="btn btn-outline-info btn-sm hist_confirm"
                        data-toggle="modal" data-target="#historyModal"
                        data-title="{{ item.repository_tag }}" data-url="{% url 'repos:history' watching_id=item.id %}">
                    {% blocktrans %}History{% endblocktrans %}
                    <span class="badge badge-info">{% blocktrans with cnt=item.history_count %}{{ cnt }}{% endblocktrans %}</span>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm display_edit"
                        data-toggle="modal" data-target="#editModal" data-type="update" data-title="{{ item.repository_tag }}"
                        data-owner="{{ item.repository_tag.repository.owner }}" data-name="{{ item.repository_tag.repository.name }}"
                        data-tag="{{ item.repository_tag.name }}" data-url="{% url 'repos:update' watching_id=item.id %}">
                    {% blocktrans %}Edit{% endblocktrans %}
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm del_confirm"
                        data-toggle="modal" data-target="#deleteModal"
                        data-title="{{ item.repository_tag }}" data-url="{% url 'repos:delete' watching_id=item.id %}">
                    {% blocktrans %}Remove{% endblocktrans %}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
{% if user.language_code != LANGUAGE_CODE %}
<script>
$(() => {
    $('#set_language_form input[name="language"]').val('{{ user.language_code }}');
    $('#set_language_form').submit();
});
</script>
{% endif %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
<script>
$(() => {
//{% include 'repos_js/history_form.js' %}
//{% include 'repos_js/edit_form.js' %}
//{% include 'repos_js/delete_form.js' %}
    $('#main_table').on('init.dt', () => {
        $('#add-button-container').append(
            $('<button class="btn btn-block btn-outline-secondary display_edit" ' +
                'data-toggle="modal" data-target="#editModal" data-type="add" data-title="" data-url="">' +
                '{% blocktrans %}Add Repository{% endblocktrans %}' +
            '</button>').attr('data-url', "{% url 'repos:add' %}").on('click', pre_edit)
        );
        $('#main_table_filter label').append($(
            '<button class="btn rounded-circle bg-transparent mt-n2 ml-n4 p-0" style="width: 1.5rem;">×</button>').on('click', () => {
                $('#main_table').dataTable().fnFilter('');
            })
        );
    }).on('draw.dt', () => {
        $('#main_table_paginate ul').addClass('justify-content-md-center');
        $('.display_edit').on('click', pre_edit);
        $('.del_confirm').on('click', pre_delete);
        $('.hist_confirm').on('click', pre_history);
    }).DataTable({
        dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-3'i><'col-sm-12 col-md-6'p><'#add-button-container.col-sm-12 col-md-3'>>",
        stateSave: true,
        columns: [ null, null, { "orderable": false }, { "orderable": false }, { "orderable": false } ],
        order: [[ 1, 'desc' ]],
        language: {
            emptyTable: "{% if  user.language_code == 'ja' %}リポジトリが登録されていません" + 
                        "{% else %}Repository not registered{% endif %}{% if  user.language_code == 'ja' %}",
            info: " _TOTAL_ 件中 _START_ から _END_ まで表示",
            infoEmpty: " 0 件中 0 から 0 まで表示",
            infoFiltered: "（全 _MAX_ 件より抽出）",
            infoPostFix: "",
            infoThousands: ",",
            lengthMenu: "_MENU_ 件表示",
            loadingRecords: "読み込み中...",
            processing: "処理中...",
            search: "検索:",
            zeroRecords: "一致するレコードがありません{% endif %}",
            paginate: {
                first:    '«',
                previous: '‹',
                next:     '›',
                last:     '»'
            },
        },
    });
});
</script>
{% endblock %}