{% extends 'base.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% block content %}
<!-- Delete confirm modal form -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{% blocktrans %}Removal Confirm{% endblocktrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% blocktrans %}Do you want to remove <span id="del_name"></span> notification?{% endblocktrans %}</p>
            </div>
            <div class="modal-footer">
                <form id="del_form" method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% blocktrans %}OK{% endblocktrans %}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit_form" method="POST" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="owner" class="col-sm-2 col-form-label">{% blocktrans %}owner{% endblocktrans %}</label>
                        <div class="col-sm-10">
                            <input id="owner" name="owner" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">{% blocktrans %}repository{% endblocktrans %}</label>
                        <div class="col-sm-10">
                            <input id="name" name="name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tag" class="col-sm-2 col-form-label">{% blocktrans %}tag{% endblocktrans %}</label>
                        <div class="col-sm-10">
                            <select id="tag" name="tag" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="edit_submit"></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% bootstrap_messages %}

<!-- Repository list table -->
<table id="main_table" class="table">
    <thead class="thead-light"><tr>
        <th scope="col">{% blocktrans %}Repositories{% endblocktrans %}</th>
        <th scope="col">{% blocktrans %}Last Update{% endblocktrans %}</th>
        <th></th>
        <th></th>
    </tr></thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td scope="row">
                <a target="_" href="{{ item.repository_tag.get_url }}">
                    {{ item.repository_tag }} <i class="small text-primary fas fa-external-link-alt"></i>
                </a>
            </td>
            <td>{{ item.repository_tag.repository.last_updated }}</td>
            <td>
                <button class="btn btn-outline-primary btn-sm display_edit"
                        data-toggle="modal" data-target="#editModal" data-type="update" data-title="{{ item.repository_tag }}"
                        data-owner="{{ item.repository_tag.repository.owner }}" data-name="{{ item.repository_tag.repository.name }}"
                        data-tag="{{ item.repository_tag.name }}" data-url="{% url 'repos:update' watching_id=item.id %}">
                    {% blocktrans %}Edit{% endblocktrans %}
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm del_confirm"
                        data-toggle="modal" data-target="#deleteModal"
                        data-title="{{ item.repository_tag }}" data-url="{% url 'repos:delete' watching_id=item.id %}">
                    {% blocktrans %}Remove{% endblocktrans %}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
{% if user.language_code != LANGUAGE_CODE %}
<script>
$(() => {
    $('#set_language_form input[name="language"]').val('{{ user.language_code }}');
    $('#set_language_form').submit();
});
</script>
{% endif %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
$(() => {
    var set_tags = function(owner, name, page, current) {
        if (name) {
            var url = "{% url 'repos:tags' owner='_owner_' name='_name_' page=0%}"
                .replace(/_owner_/g, owner).replace(/_name_/g, name).replace(/0/g, page);
            $.ajax({
                url      : url,
                type     : 'GET',
                dataType : 'json',
            }).done((data) => {
                var owner = $('#edit_form input[name="owner"]').val();
                owner = owner === '' ? 'library' : owner;
                if (owner === data.owner && $('#edit_form input[name="name"]').val() === data.name) {
                    parent = $('#edit_form select[name="tag"]');
                    for (var i in data.tags) {
                        if (data.tags[i] === current) {
                            parent.append($('<option>').val(data.tags[i]).html(data.tags[i]).attr('selected', ''));
                        } else {
                            parent.append($('<option>').val(data.tags[i]).html(data.tags[i]));
                        }
                    };
                    if (data.next) {
                        set_tags(owner, name, data.next, current);
                    }
                }
            }).fail((data) => {
                parent = $('#edit_form select[name="tag"]');
                parent.children().remove();
                parent.append('<option value="latest" selected>latest</option>');
                $("#edit_form .modal-body").prepend(
                    '<div id="form_alert" class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '<span>{% blocktrans %}Failed to get tags for ' + (owner === 'library' ? '' : owner + '/') + name + '{% endblocktrans %}</span>' +
                    '</div>'
                );
            }).always(() => {
                $('#in_process_label').remove();
            });
        }
    };
    var pre_edit = function() {
        var label = $(this).data('type') === 'update' ? '{% blocktrans %}Update{% endblocktrans %}' : '{% blocktrans %}Add{% endblocktrans %}';
        $('#edit_submit').text(label);
        $('#editModalLabel').text(label + ($(this).data('title') === '' ? '' : ' : ' + $(this).data('title')));
        $('#edit_name').text($(this).data('name'));
        $('#edit_form').attr('action', $(this).data('url'));
        $('#edit_form input[name="owner"]').val($(this).data('owner') === 'library' ? '' : $(this).data('owner'));
        $('#edit_form input[name="name"]').val($(this).data('name'));
        $('#edit_form select[name="tag"]').val($(this).data('tag'));
        $("#form_alert").remove();
        $('#edit_form select[name="tag"]').children().remove();
        $('#edit_form input[name="name"]').focus();
        set_tags($(this).data('owner'), $(this).data('name'), 1, $(this).data('tag'));
    };
    var pre_delete = function() {
        $('#del_name').text($(this).data('title'));
        $('#del_form').attr('action', $(this).data('url'));
    };
    $("#edit_submit").click((e) => {
        var owner = $('#edit_form input[name="owner"]').val();
        owner = owner === '' ? 'library' : owner;
        var name = $('#edit_form input[name="name"]').val();
        var tag = $('#edit_form select[name="tag"]').val();
        var url = "{% url 'repos:check' owner='_owner_' name='_name_' tag='_tag_' %}"
            .replace(/_owner_/g, owner).replace(/_name_/g, name).replace(/_tag_/g, tag);
        $.ajax({
            url      : url,
            type     : 'GET',
            dataType : 'json',
        }).done(() => {
            $('#edit_form input[name="owner"]').val((idx, val) => {
                return val === '' ? 'library' : val;
            });
            $('#edit_form').off("submit");
            $('#edit_form').submit();
        }).fail((data) => {
            $("#form_alert").remove();
            $("#edit_form .modal-body").prepend(
                '<div id="form_alert" class="alert alert-warning alert-dismissible" role="alert">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '<span>{% blocktrans %}' + (owner === 'library' ? '' : owner + '/') + name + ':' + tag + ' could not be found on Docker Hub.{% endblocktrans %}</span>' +
                '</div>'
            );
        });
        return e.preventDefault();
    });
    $('#edit_form input').on('change', (e) => {
        var owner = $('#edit_form input[name="owner"]').val();
        owner = owner === '' ? 'library' : owner;
        var name = $('#edit_form input[name="name"]').val();
        $('#edit_form select[name="tag"]').children().remove();
        $('#edit_form select[name="tag"]').append('<option id="in_process_label" value="" selected>{% blocktrans %}Retrieving data...{% endblocktrans %}</option>');
        set_tags(owner, name, 1, '');
    });
    $('#main_table').on('init.dt', () => {
        $('#add-button-container').append(
            $('<button class="btn btn-block btn-outline-secondary display_edit" ' +
                'data-toggle="modal" data-target="#editModal" data-type="add" data-title="" data-url="' + "{% url 'repos:add' %}" + '">' +
                '{% blocktrans %}Add Repository{% endblocktrans %}' +
            '</button>').on('click', pre_edit)
        );
    }).on('draw.dt', () => {
        $('#main_table_paginate ul').addClass('justify-content-md-center');
        $('.display_edit').on('click', pre_edit);
        $('.del_confirm').on('click', pre_delete);
    }).DataTable({
        dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 col-md-3'i><'col-sm-12 col-md-6'p><'#add-button-container.col-sm-12 col-md-3'>>",
        stateSave: true,
        columns: [ null, null, { "orderable": false }, { "orderable": false } ],
        order: [[ 1, 'desc' ]],
        language: {
            emptyTable: "{% if  user.language_code == 'ja' %}リポジトリが登録されていません" + 
                        "{% else %}Repository not registered{% endif %}{% if  user.language_code == 'ja' %}",
            info: " _TOTAL_ 件中 _START_ から _END_ まで表示",
            infoEmpty: " 0 件中 0 から 0 まで表示",
            infoFiltered: "（全 _MAX_ 件より抽出）",
            infoPostFix: "",
            infoThousands: ",",
            lengthMenu: "_MENU_ 件表示",
            loadingRecords: "読み込み中...",
            processing: "処理中...",
            search: "検索:",
            zeroRecords: "一致するレコードがありません{% endif %}",
            paginate: {
                first:    '«',
                previous: '‹',
                next:     '›',
                last:     '»'
            },
        },
    });
});
</script>
{% endblock %}